@reference "../../../tailwind-ref.css";

.navigation-menu-item__is-active {
  @apply text-primary;
  background-color: rgba(255, 255, 255, 0.8);
  & tas-icon {
    color: var(--tas-color-primary) !important;
  }
}

.menu-item:hover {
  @apply text-primary;

  background-color: rgba(000, 000, 000, 0.2);
  color: var(--tas-color-white) !important;
  & tas-icon {
    color: var(--tas-color-primary) !important;
  }
}
